$white: #fdfdfd;
$brown50: #f1ebe5;
$brown100: #FFF0DC;
$brown200: #FAE6C7;
$brown400: #936E59;
$brown600: #39241A;
$brown800: #271A11;
$black: #0b0b0b;
$red: #FD4D4D;
$green: #1BC469;

$colorsByPokemonType: (
	Colorless: #A8A77A,
	Darkness: #6F35FC,
	Dragon: #E2BF65,
	Fairy: #D685AD,
	Fighting: #C22E28,
	Fire: #EE8130,
	Grass: #7AC74C,
	Lightning:#F7D02C,
	Metal: #B7B7CE,
	Psychic: #F95587,
	Water: #6390F0,
);