@use 'styles/sass/colors';
@use 'styles/sass/breakpoints';

.link {
  text-decoration: none;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: .75rem;

    img {
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%;
    }
  }
}

.card {
  text-decoration: none;
  border: 1px solid colors.$brown400;
  background-color: colors.$brown200;
  border-radius: .5rem;
  max-width: 300px;
  min-width: 200px;
  cursor: pointer;
  height: 100%;

  transition: transform 200ms ease;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: .75rem;

    img {
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%;
    }
  }

  section {
    flex: 1;
    padding: 0 1rem;
  }

  &:hover, &:focus-within {
    transform: scale(1.025);
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.8);
  }
  
  @media screen and (min-width: breakpoints.$small) {
    width: 100%;
  }
}

.title {
  & > div {
    justify-content: space-between;
    align-items: center;
  }

  section {
    padding: 0;
  }

  h2 {
    flex: 1;
    font-size: 1rem;
    font-weight: 500;
    color: colors.$brown800;
  }
}

.id {
  font-size: .85rem;
  color: colors.$brown400;
}